<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Sharing Economy</title>

	<link rel="icon", href="../static/img/car-icon.png">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/jquery.fullpage.css">
	<link rel="stylesheet" href="../static/css/jquery-ui.min.css">
	<link rel="stylesheet" href="../static/css/leaflet.css">
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<div id="fullPage">
		<section class="section">
			<div class="title-banner"></div>
			<div class="section-header" style="margin-top: 200px; font-size: 60px;">Who Wins in the Sharing Economy?</div><br>
		</section>
		<section class="section">
			<div class="title-banner"></div>
			<div id="story-container-2" class="container story-text"></div>
		</section>
		<section class="section">
			<div class="section-header">Uber Timeline</div><br>
			<div class="col-md-3" style="margin-left: 5px">
				<select class="form-control interaction-header" id="timeline-event-type" onchange="filter_timeline_data()">
					<option value="All">All Event Types</option>
					<option value="Company">Company</option>
					<option value="Expansion">Expansion</option>
					<option value="Product">Product</option>
					<option value="Competition">Competition</option>
					<option value="Regulatory">Regulatory</option>
					<option value="Funding">Funding</option>
				</select>
			</div>
			<div class="col-md-8">
				<div id="event-legend">
				</div>
			</div>
			<div class="row">
				<div class="col-md-3" style="margin-left: 20px">
					<div id="timeline-event-box" style="overflow: scroll; height: 500px;"></div>
				</div>
				<div class="col-md-8">
					<div id="timeline-map"></div>
					<div id="timeline"></div>
					<div style="text-align: center; font-size: 11px;">
						<i id="timeline-button" class="fa fa-play-circle" onclick="timeline_button_click()"></i>
						<span id="timeline-button-label" style="margin-right: 10px;"> Play</span>
						<i id="timeline-button-reset" class="fa fa-times-circle" onclick="timeline_reset_button_click()"></i>
						<span id="timeline-button-reset-label"> Reset</span>
					</div>
				</div>

			</div>
		</section>
		<section class="section">
			<div class="title-banner"></div>
			<div id="story-container-4" class="container story-text"></div>
		</section>
		<section class="section">
			<div class="section-header">Ridership Fight: Uber vs. Taxi</div>
			<div class="row">
				<div class="col-md-8">
					<select class="form-control interaction-header" id="ride-service-provider" onchange="filter_ride_service_provider()">
						<option value="All">All Service Providers</option>
						<option value="Yellow Cab">Yellow Cab</option>
						<option value="Uber">Uber</option>
						<option value="Lyft">Lyft</option>
						<option value="Via">Via</option>
						<option value="Juno">Juno</option>
				</select>
				</div>
				<div class="col-md-3" style="text-align: center;">
					<h4 id="name" class="info-section-header">Company Valuations</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div id="rides-per-day"></div>
				</div>
				<div class="col-md-3" id="valuation-container">
				</div>
			</div>
		</section>
		<section class="section">
			<div class="title-banner"></div>
			<div id="story-container-6" class="container story-text"></div>
		</section>
		<section class="section">
			<div class="section-header">Consumer's Choice: Uber vs. Taxi</div>
			<div class="row">
				<div class="col-md-7">
					<div id="relative-value-plot"></div>
				</div>
				<div class="col-md-5">
					<div class="col-md-7">
						<div id="relative-value-map"></div>
					</div>
					<div class="col-md-4">
						<div style="padding-left: 20px; margin-top: 60px;">
							<span class="interaction-header">Select Area Radius</span>
						</div>
						<div id="relative-value-map-legend"></div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-left: 80px; margin-top: 40px;">
				<div class="col-md-4" >
					<select class="form-control interaction-header" id="relative-value-uber-type" onchange="updateRelativeValue()">
						<option value="uber_pool">Uber Pool</option>
						<option value="uber_x">Uber X</option>
					</select>
				</div>
				<div class="col-md-6">
					<div style="border-radius: 4px; padding-left: 5px; display: inline-block; width: 380px; height: 34px; background-color: #09091a; padding-top: 5px;">
						<span id="surge-amount" class="interaction-header">Surge Pricing: None</span>
						<div id="surge-slider"></div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-left: 80px;">
				<div class="col-md-4">
					<div id="service-description" class="info-description"></div>
				</div>
				<div class="col-md-6">
					<div id="surge-description" class="info-description">In times of high demand for rides, Uber imposes "surge pricing" to encourage
						more drivers to meet the demand. The pricing is calculated by multiplying the base price by a specific
						amount which increases with demand.<br>
						<strong>Move the slider to see how the price differential changes with surge pricing</strong></div>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="title-banner"></div>
			<div id="story-container-8" class="container story-text"></div>
		</section>
		<section class="section">
			<div class="section-header">Worker's Decision: Drive for Uber?</div>
			<div class="row">
				<div class="col-md-8">
					<div id="driver-income-chart">
					</div>
				</div>
				<div class="col-md-3">
					<h4 class="info-section-header">Annual earnings estimator</h4>
					<p>Select your target annual pre-tax income to see how much you'll need to drive with Uber and where the money goes.
						Remember, this is pre-tax and you're not a full-time employee, so healthcare & savings is on you!</p>
					<!-- Select box to choose the ranking type -->
					<form class="form-inline">
						<div class="form-group">
							<label for="dataType">Target Annual Income</label>
							<select class="form-control interaction-header" id="income-level" onchange="updateIncomeChart()">
								<option value="value10">$10,000</option>
								<option value="value20">$20,000</option>
								<option value="value30">$30,000</option>
								<option value="value40">$40,000</option>
								<option value="value50" selected="selected">$50,000</option>
								<option value="value60">$60,000</option>
								<option value="value70">$70,000</option>
								<option value="value80">$80,000</option>
								<option value="value90">$90,000</option>
								<option value="value100">$100,000</option>
							</select>
						</div>
					</form>
					<br>
					<br>
					<h4 id="name" class="info-section-header">Weekly Targets (on UberX)</h4>
					<table class="table table-striped">
						<tbody>
						<tr>
							<th>Fare revenue ($)</th>
							<td id="weekly-fare"></td>
						</tr>
						<tr>
							<th>Number of trips</th>
							<td id="weekly-trips"></td>
						</tr>
						<tr>
							<th>Number of billed miles driven</th>
							<td id="weekly-miles"></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="section-header">Who Do You Think Wins in the Sharing Economy?</div><br>
			<div class="container">
				<div class="row">
					<div class="col-md-3 vote-icon"><img src="../static/img/uber-logo.jpg" class="img-icon"/></div>
					<div class="col-md-3 vote-icon"><i class="fa fa-taxi"></i></div>
					<div class="col-md-3 vote-icon"><i class="fa fa-female"></i></div>
					<div class="col-md-3 vote-icon"><i class="fa fa-male"></i></div>
				</div>
				<div class="row">
					<div class="col-md-3 vote-label"><strong>Uber</strong><br><span>(New Sharing Economy Companies)</span></div>
					<div class="col-md-3 vote-label"><strong>Taxis</strong><br><span>(Existing Old Economy Companies)</span></div>
					<div class="col-md-3 vote-label"><strong>Tansaya</strong><br><span>(Consumers)</span></div>
					<div class="col-md-3 vote-label"><strong>John</strong><br><span>(Workers)</span></div>
				</div>
				<div class="row">
					<div class="col-md-3 vote-button">
						<button class="btn btn-default" id="uber-button-win" onclick="">Win</button>
						<button class="btn btn-default" id="uber-button-lose">Lose</button>
					</div>
					<div class="col-md-3 vote-button">
						<button class="btn btn-default" id="taxi-button-win">Win</button>
						<button class="btn btn-default" id="taxi-button-lose">Lose</button>
					</div>
					<div class="col-md-3 vote-button">
						<button class="btn btn-default" id="consumer-button-win">Win</button>
						<button class="btn btn-default" id="consumer-button-lose">Lose</button>
					</div>
					<div class="col-md-3 vote-button">
						<button class="btn btn-default" id="worker-button-win">Win</button>
						<button class="btn btn-default" id="worker-button-lose">Lose</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 vote-graph" id="uber-vote-chart"></div>
					<div class="col-md-3 vote-graph" id="taxi-vote-chart"></div>
					<div class="col-md-3 vote-graph" id="consumer-vote-chart"></div>
					<div class="col-md-3 vote-graph" id="worker-vote-chart"></div>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="title-banner"></div>
			<div class="col-md-6">
				<h2 class="section-header">Project Info</h2>
				<ol>
					<li><strong>Authors</strong>: Tansaya Kunaratskul, Jonathan Mazumdar, <a href="https://www.linkedin.com/in/ihsaanpatel/">Ihsaan Patel</a></li>
					<li><strong>Project Resources</strong>: <a href="https://github.com/pateli18/cs171sharingeconomy">Github</a> and <a href="">Process Book</a></li>
				</ol>
			</div>
			<div class="col-md-6">
				<h2 class="section-header">References</h2>
				<h4 style="text-decoration: underline;"><strong>Images</strong></h4>
				<ol>
					<li><strong>Tile Banner</strong>: <a href="https://www.flickr.com/photos/kevingessner/3604506601/sizes/l">Taxis</a>,
					<a href="https://www.flickr.com/photos/5chw4r7z/13449380733/sizes/l">Uber</a>,
					<a href="https://www.flickr.com/photos/jeffbpictures/5852265423/sizes/l">Boston</a>,
						<a href="https://www.flickr.com/photos/kaysha/4736796413/sizes/l">Driving Dashboard</a>
					</li>
					<li><strong>Logos / Icons</strong>: <a href="https://d1a3f4spazzrp4.cloudfront.net/uber-com/1.3.4/d1a3f4spazzrp4.cloudfront.net/images/uber-serp-logo-f6e7549c89.jpg">Uber Logo</a>, <a href="https://www.flaticon.com/free-icon/new-york-panoramic-buildings-silhouette_53137">NYC Icon</a></li>
				</ol>
				<h4 style="text-decoration: underline;"><strong>Data Sources</strong></h4>
				<ol>
					<li><strong>Uber Timeline</strong>: <a href="https://en.wikipedia.org/wiki/Timeline_of_Uber">Events</a> </li>
					<li><strong>Consumer's Choice</strong>: <a href="http://bpdnews.com/taxi-rates">Taxi Pricing</a>, <a href="http://uberestimate.com/prices/Boston/">Uber Pricing</a>, and <a href="https://developer.uber.com/">Duration and Distance</a>. Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a></li>
					<li><strong>Driver's Decision</strong>: <a href="http://uberestimate.com/prices/Boston/">Cost Assumptions and Public Pricing</a>, assumes no unpaid miles, and associated costs, between rides, which likely leads to overestimates of earnings.</li>
				</ol>
			</div>
		</section>
	</div>

	<!-- Load JS libraries -->
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/jquery.fullpage.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/queue.min.js"></script>
	<script src="../static/js/topojson.js"></script>
	<script src="../static/js/d3.min.js"></script>
	<script src="../static/js/d3-legend.min.js"></script>
	<script src="../static/js/d3-scale-chromatic.min.js"></script>
	<script src="../static/js/d3-tip.js"></script>
	<script src="../static/js/leaflet.js"></script>
	<script src="../static/js/colorbrewer.js"></script>
	<script src="../static/js/jquery-ui.min.js"></script>

	<!-- Handlers and visualizations -->
	<script src="../static/js/main.js"></script>
	<script src="../static/js/handler-storyslides.js"></script>
	<script src="../static/js/handler-timelineslide.js"></script>
	<script src="../static/js/vis-timeline.js"></script>
	<script src="../static/js/handler-rideslide.js"></script>
	<script src="../static/js/vis-rideline.js"></script>
	<script src="../static/js/vis-ridevaluation.js"></script>
	<script src="../static/js/handler-relativevalueslide.js"></script>
	<script src="../static/js/vis-relativevaluemap.js"></script>
	<script src="../static/js/vis-relativevaluescatter.js"></script>
	<script src="../static/js/handler-driverincomeslide.js"></script>
	<script src="../static/js/vis-driverincomebar.js"></script>
	<script src="../static/js/handler-voteslide.js"></script>
	<script src="../static/js/vis-votesbar.js"></script>

	<script>
		initializeElements();
		initializeVotes({{votes|tojson}});
	</script>

</body>
</html>